<div ng-controller="MainCtrl">       
  <ion-nav-view></ion-nav-view>
</div>

<script id="home.html" type="text/ng-template">
  <ion-view title="Welcome">
    <ion-content padding="true">
      <p>Swipe to the right to reveal the left menu.</p>
      <p>(On desktop click and drag from left to right)</p>
    </ion-content>
  </ion-view>
</script>

<script id="browse-contributions.html" type="text/ng-template">
  <ion-view title="Browse Contributions">
    <ion-content>
      Test
    </ion-content>
  </ion-view>
</script>