<ion-side-menus>
    
  <ion-side-menu-content>
    <ion-nav-bar class="bar-royal">
    </ion-nav-bar>
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()">
      </button>
    </ion-nav-buttons>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content> 
  
  <ion-side-menu side="left">
    <ion-header-bar class="bar-calm">
      <h1 class="title" translate>Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ul class="list">
        <a class="item item-icon-left" href="#/navigation/map" menu-close>
          <i class="icon ion-map"></i>
          <span translate>Map</span>
        </a>
        <a class="item item-icon-left" href="#/navigation/browse-contributions" menu-close>
          <i class="icon ion-search"></i>
          <span translate>Browse Contributions</span>
        </a>
        <a class="item item-icon-left" href="#/navigation/notifications" menu-close>
          <i class="icon ion-archive"></i>
          <span translate>Notifications</span>
          <span class="badge badge-assertive">0</span>
        </a>
      </ul>
      <button class="button button-full button-light" ng-click="logout()">
        <i class="icon ion-log-out"></i> <span translate>Logout</span>
      </button>
    </ion-content>
  </ion-side-menu>

</ion-side-menus>