<div ng-controller="IndexCtrl">
  <div class="spinner" ng-show="loading"></div>
  <div id="map"></div>
  <div id="poi-list" class="container">
    <p><strong>Where are you?</strong></p>
    <div class="list-group">
      <a class="list-group-item" ng-repeat="poi in pois | orderBy:'location.distance'" ng-class="{ 'active': selectedPoi.id == poi.id }" ng-click="choose(poi)">
        <span class="anchor" id="{{ poi.id }}"></span>
        <span class="badge">{{ poi.location.distance }}m</span>
        <img ng-show="poi.categories[0].icon && selectedPoi.id != poi.id" class="pull-left" src="{{ poi.categories[0].icon.prefix + 'bg_44' + poi.categories[0].icon.suffix }}" alt="{{ poi.categories[0].name }}" width="22">
        <img ng-show="poi.categories[0].icon && selectedPoi.id == poi.id" class="pull-left" src="{{ poi.categories[0].icon.prefix + '44' + poi.categories[0].icon.suffix }}" alt="{{ poi.categories[0].name }}" width="22">
        <span ng-class="{ 'poi-name': poi.categories[0].icon }">{{ poi.name }}</span>
      </a>
    </div>
    <img class="img-responsive" src="/images/poweredByFoursquare_gray.png" alt="Powered by Foursquare">
  </div>
</div>