<div ng-app="poiApp">
  <div ng-controller="IndexCtrl">
    <div class="container">
      <h3>Select nearby location</h3>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="poi in pois | orderBy:'location.distance'" ng-class="{active: selectedPoi == poi.name}" ng-click="choose(poi.name)">
          <span class="badge">{{ poi.location.distance }}m</span>
          {{ poi.name }}
        </li>
      </ul>
      <img class="img-responsive" src="/images/poweredByFoursquare_gray.png" alt="Powered by Foursquare">
    </div>
  </div>
</div>