<div ng-app="mainMenuApp">
  <div ng-controller="IndexCtrl">
    <div class="topcoat-list__container">
      <h3 class="topcoat-list__header">Menu</h3>
      <ul class="topcoat-list">
        <li class="topcoat-list__item" hm-tap="open('/views/map/index.html')">Play</li>
        <li class="topcoat-list__item" hm-tap="open('/views/profile/index.html')">Profile</li>
        <li class="topcoat-list__item" hm-tap="open('/views/settings/index.html')">Settings</li>
        <li class="topcoat-list__item" hm-tap="open('/views/imprint/index.html')">Imprint</li>
        <li class="topcoat-list__item" hm-tap="open('/views/login/index.html')">Logout</li>
      </ul>
    </div>
  </div>
</div>