<div class="container" ng-app="imprintApp">
  <div ng-controller="IndexCtrl">
    <h1>Imprint</h1>
    <ul>
      <li><a href="http://getbootstrap.com/">Twitter Bootstrap</a></li>
      <li><a href="http://designmodo.com/linecons-free/">Linecons Free</a></li>
      <li><a href="http://designmodo.com/flat-free/">Flat UI Free</a></li>
      <li><a href="https://github.com/humangeo/leaflet-dvf">Leaflet Data Visualization Framework (DVF)</a></li>
      <li>Map tiles by <a href="http://stamen.com">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>. Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY SA</a>.<li>
    </ul>
    <a class="btn btn-default btn-block" ng-click="close()">Close</a>
  </div>
</div>