// Contribution icons
@font-face {
font-family: 'Contribution';
src: url('/fonts/contribution.eot');
src: url('/fonts/contribution.eot?#iefix') format("embedded-opentype"),
     url('/fonts/contribution.woff') format("woff"),
     url('/fonts/contribution.ttf') format("truetype"),
     url('/fonts/contribution.svg#contribution') format('svg');
}
.cc-icon {
    font-family: 'Contribution','sans-serif';
    line-height: 1;
    text-rendering: auto;
    -webkit-font-feature-settings: "liga", "dlig";
    -ms-font-feature-settings: "liga", "dlig";
    -moz-font-feature-settings: "liga", "dlig";
    -o-font-feature-settings: "liga", "dlig";
    font-feature-settings: "liga", "dlig";
    -webkit-font-smoothing: antialiased;
}

.opinion:before { content: "\e002" }
.issue:before { content: "\e001" }
.idea:before { content: "\e000" }
.poll:before { content: "\e003" }

// Mood icons
.intelligentfilled:before {
  content: "\e00c";
}

.overhappyfilled:before {
  content: "\e014";
}

.blinkingfilled:before {
  content: "\e002";
}

.confusedfilled:before {
  content: "\e004";
}

.kissingfilled:before {
  content: "\e010";
}

.naughtyfilled:before {
  content: "\e012";
}

.shockedfilled:before {
  content: "\e01a";
}

.unhappyfilled:before {
  content: "\e024";
}

.vampirefilled:before {
  content: "\e026";
}

.cryingfilled:before {
  content: "\e006";
}

.inlovefilled:before {
  content: "\e00a";
}

.piratefilled:before {
  content: "\e016";
}

.sealedfilled:before {
  content: "\e018";
}

.silentfilled:before {
  content: "\e01c";
}

.sleepyfilled:before {
  content: "\e01e";
}

.toothyfilled:before {
  content: "\e022";
}

.angryfilled:before {
  content: "\e000";
}

.happyfilled:before {
  content: "\e008";
}

.intelligent:before {
  content: "\e00d";
}

.thieffilled:before {
  content: "\e020";
}

.kingfilled:before {
  content: "\e00e";
}

.overhappy:before {
  content: "\e015";
}

.blinking:before {
  content: "\e003";
}

.confused:before {
  content: "\e005";
}

.kissing:before {
  content: "\e011";
}

.naughty:before {
  content: "\e013";
}

.shocked:before {
  content: "\e01b";
}

.unhappy:before {
  content: "\e025";
}

.vampire:before {
  content: "\e027";
}

.crying:before {
  content: "\e007";
}

.inlove:before {
  content: "\e00b";
}

.pirate:before {
  content: "\e017";
}

.sealed:before {
  content: "\e019";
}

.silent:before {
  content: "\e01d";
}

.sleepy:before {
  content: "\e01f";
}

.toothy:before {
  content: "\e023";
}

.angry:before {
  content: "\e001";
}

.happy:before {
  content: "\e009";
}

.thief:before {
  content: "\e021";
}

.king:before {
  content: "\e00f"
}