.mood {
  float: left;
  text-align: center;
  width: 33.33333333%;
}

.mood.active {
  color: $positive;
}

.mood .mood-icon {
  display: inline-block;
  font-size: 90px;
}

.mood .mood-label {
  position: relative;
  top: -15px;
}