$mapHeight: 150px;
$anchorOffset: 30px;

#poi-map {
  height: $mapHeight;
  box-shadow: 0 0 $dropshadowWidth $dropshadowColor;
  width: 100%;
}

.poi-list {
  .active {
    background-color: $positive;
    color: #ffffff;
  }
}

.anchor {
  display: block;
  position: relative;
  top: -$mapHeight - $anchorOffset;
  visibility: hidden;
}

.poi-name {
  display: block;
  margin-left: 30px;
}

.poi-marker {
  background-image: url(/icons/marker-icon-poi.svg);
  background-size: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.poi-icon {
  position: relative;
  top: 5px;
}

.poi-marker.active {
  background-image: url(/icons/marker-icon-poi_active.svg);
}

.poi-marker.disabled {
  background-image: url(/icons/marker-icon-poi_disabled.svg);
}