$mapHeight: 150px;
$anchorOffset: 30px;

.poi .bar-subheader{
  height: $mapHeight !important;
}

.poi .has-subheader{
  top: $mapHeight + $bar-height !important;
}

#poi-map {
  height: $mapHeight;
  box-shadow: 0 0 $dropshadowWidth $dropshadowColor;
  width: 100%;
}

.anchor {
  display: block;
  position: relative;
  top: -$mapHeight - $anchorOffset;
  visibility: hidden;
}

.poi-name {
  display: block;
  margin-left: 30px;
}

.poi-marker {
  background-image: url(/icons/marker-icon-poi@2x.png);
  background-size: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.poi-icon {
  position: relative;
  top: 5px;
}

.poi-marker.active {
  background-image: url(/icons/marker-icon-poi_active@2x.png);
}

.poi-marker.disabled {
  background-image: url(/icons/marker-icon-poi_disabled@2x.png);
}