body {
  overflow-x: hidden;
  width: 100% !important;
}

* {
  -webkit-user-select: none;  /* Disable selection/copy of elements when tapping for a long time */
  -webkit-touch-callout: none; /* Disable touch callouts */
}

input, textarea, [contenteditable] * {
  -webkit-user-select: auto;  /* Allow selection for input elements and those with contenteditable attribute */
}

.content-padded {
  padding: 10px;
}

.full-background-image {
  /*background-color: red;*/
  background-size: cover;
  bottom: 0;
  /*height: 150%;*/
  left: 0;
  /*overflow: hidden;*/
  position: fixed;
  right: 0;
  top: 0;
  /*width: 150%;*/
  z-index: -1;

  filter: grayscale(80%) brightness(1.2);
  -webkit-filter: grayscale(80%) brightness(1.2);
  -moz-filter: grayscale(80%) brightness(1.2);
  -o-filter: grayscale(80%) brightness(1.2);
  -ms-filter: grayscale(80%) brightness(1.2);
}

.

.blur {
  filter: blur(15px);
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
}

.darken {
  filter: brightness(0.5);
  -webkit-filter: brightness(0.5);
  -moz-filter: brightness(0.5);
  -o-filter: brightness(0.5);
  -ms-filter: brightness(0.5);
}

.grayscale {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
}