@import 'base.scss';

$contribution-type-diameter: 64px;

// body {
//   padding-bottom: 70px;
// }

.contribution-photo {
  background-color: $gray-lighter;
  background-size: cover;
  height: 120px;
  position: relative;
  overflow: hidden;
}

.contribution-photo-preview {
  background-size: cover;
  border-radius: 40px;
  height: 80px;
  width: 80px;
}

.contribution-photo .background {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

.contribution-photo .content {
  bottom: 20px;
  left: 0;
  position: absolute;
  right: 0;
  top: 20px;
  z-index: 20;
}

.btn-remove-photo {
  color: #ffffff;
  font-size: 3em;
  right: 10px;
  position: absolute;
  text-shadow: #000000 0px 1px 0px;
  top: 0;
  z-index: 30;
}

.contribution-meta {
  padding-bottom: 15px;
}

.navbar-form {
  border-style: none;
}

.contribution-type a {
  // border-radius: 0;
}

.contribution-type span {
  font-size: 2em;
}

.contribution-type span,
.contribution-type small {
  position: relative;
  top: 8px;
}

.contribution-type {
  height: $contribution-type-diameter;
  margin: 15px 0;
  padding-left: 0;
  padding-right: 0;
}

.contribution-type > li.active > a {
  background-color: $cc-light;
}

.contribution-type > li.active > a,
.contribution-type > li > a:hover,
.contribution-type > li > a:focus {
  border-color: $cc-light;
  color: #ffffff;
  text-decoration: none;
}

.contribution-type > li > a:active,
.contribution-type > li.active > a:active {
  background-color: $cc-dark;
  border-color: $cc-dark;
}

.contribution-type > li {
  float: left;
  margin: 0;
  padding: 0;
  width: 25%;
}

.contribution-type > li > a {
  color: $cc-light;
}

.contribution-type > li > a,
.contribution-type > li.active > a {
  border: 2px solid $cc-light;
  border-radius: $contribution-type-diameter / 2;
  display: block;
  height: $contribution-type-diameter;
  margin: 0 auto;
  padding: 0;
  width: $contribution-type-diameter;
}

.contribution-mood-icon {
  font-size: 2.2em;
  position: absolute;
  right: 0;
  top: 1px;
}

.contribution-input {
  /*background-color: #415b76;*/
  margin-bottom: 0.5em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
}

.contribution-title {
  margin-bottom: 0;
}

.contribution-title .form-control {
  @include border-bottom-radius(0);
}

.contribution-meta .btn {
  @include border-top-radius(0);
}

.rn-carousel-container {
  position: relative;
}

.rn-carousel-indicator {
  background-color: transparent !important;
  bottom: 0;
  position: absolute !important;
}