@import 'base.scss';

body {
  padding-bottom: 70px;
}

.contribution-type a {
  border-radius: 0;
}

.contribution-type span {
  font-size: 2em;
}

.contribution-input {
  /*background-color: #415b76;*/
  margin-bottom: 0.5em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
}

.rn-carousel-container {
  position: relative;
}

.rn-carousel-indicator {
  background-color: transparent !important;
  bottom: 0;
  position: absolute !important;
}