@import
  "mixins",
  "variables";

// your variable changes can go here
$positive:  $cc-light;
$royal:     $cc-main;
$calm:      $cc-lighter;

@import "../components/ionic/scss/ionic";

@import 
  "login",
  "map";

.text-muted {
  color: lighten($base-color, 75%) !important;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}