@import 'base.scss';

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.spinner {
  width: 36px;
  height: 36px;
  background-image: url("../../vendor/topcoat/img/spinner2x.png");
  background-size: 36px;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1000;
  left: 45%;
  top: 45%;
  -webkit-animation-name:            rotate;
  -webkit-animation-duration:        1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

#map {
  bottom: 0; 
  position: absolute;
  top: 0;
  width: 100%;
}

.map-button-bar {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 100;
}

.map-button {
  color: $cc-dark; 
  text-shadow: 0 1px 0px rgba(255, 255, 255, 0.8), 0 2px 0px rgba(0, 0, 0, 0.4);
}

.contribution-detail {
  background-color: #ffffff;
  bottom: 0;
  left: 0;
  overflow-x: auto;
  position: absolute;
  right: 0;
  top: 80px;
  z-index: 200;
}

.contribution-detail.ng-hide-add,
.contribution-detail.ng-hide-remove {
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  transition: all linear 0.5s;
  display: block !important;
}
 
.contribution-detail.ng-hide-add.ng-hide-add-active,
.contribution-detail.ng-hide-remove {
  opacity: 0;
}
 
.contribution-detail.ng-hide-add,
.contribution-detail.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}
