@import 'base.scss';

/*******************************************************************************
* MAP
*******************************************************************************/
#map {
  bottom: 0; 
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

.map-button-bar {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 100;
}

.map-button {
  color: $cc-dark; 
  text-shadow: 0 1px 0px rgba(255, 255, 255, 0.8), 0 2px 0px rgba(0, 0, 0, 0.4);
}

.contribution-detail {
  background-color: #ffffff;
  bottom: 0;
  left: 0;
  overflow-x: auto;
  position: absolute;
  right: 0;
  top: 80px;
  z-index: 200;
}

/*******************************************************************************
* CONTRIBUTION DETAIL
*******************************************************************************/
@-webkit-keyframes slideUp {
  from {
    -webkit-transform: translateY(100%);
  }   
  to {
    -webkit-transform: translateY(0%);
  } 
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
  }
  50%{
    -webkit-transform: translateY(8%);
  }
  65%{
    -webkit-transform: translateY(-4%);
  }
  80%{
    -webkit-transform: translateY(4%);
  }
  95%{
    -webkit-transform: translateY(-2%);
  }     
  100% {
    -webkit-transform: translateY(0%);
  } 
}

.contribution-detail.ng-hide-add {
  -webkit-animation-name: slideDown;  
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease;
}
.contribution-detail.ng-hide-remove {
  -webkit-animation-name: slideUp;  
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease;
}
