@import 'base.scss';

$mapHeight: 200px;
$anchorOffset: 30px;

#map {
  height: $mapHeight;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
}

#poi-list {
  margin-top: $mapHeight;
  position: relative;
  z-index: 100;
}

.anchor {
  display: block;
  position: relative;
  top: -$mapHeight - $anchorOffset;
  visibility: hidden;
}
