<div ng-app="contributionApp">
  <div ng-controller="NewCtrl">
    <div class="spinner" ng-show="loading"></div>
    <div class="container">
<!--       <ul class="nav nav-pills nav-justified">
        <li class="active"><a href="#">Opinion</a></li>
        <li><a href="#">Poll</a></li>
        <li><a href="#">Issue</a></li>
        <li><a href="#">Idea</a></li>
      </ul>
      <div class="btn-group">
        <button type="button" class="btn btn-default">Left</button>
        <button type="button" class="btn btn-default">Middle</button>
        <button type="button" class="btn btn-default">Right</button>
      </div> -->
      <p>Mood: {{ mood }}</p>
      <form role="form">
        <div class="form-group">
          <input type="text" class="form-control" ng-model="contribution.title" placeholder="Title" />
        </div>
        <div class="form-group">
          <textarea class="form-control" ng-model="contribution.description" rows="3" placeholder="Description"></textarea>
        </div>
        <button type="button" class="btn btn-default" hm-tap="chooseMood()">I'm feeling...</button>
        <button type="button" class="btn btn-default" hm-tap="capturePhoto()">Add a photo</button>
        <button type="button" class="btn btn-default" hm-tap="create(contribution)">Add</button>
        <button type="button" class="btn btn-default" hm-tap="close()">Cancel</button>
      </form>
      <img id="photo" src="" width="100%">
    </div>
  </div>
</div>