<div ng-app="contributionApp">
  <div ng-controller="NewCtrl">
    <div class="loading-full" ng-show="loading">
      <i class="fa fa-4x fa-spinner fa-spin fa-inverse"></i>
    </div>
    <div class="full-background-image" ng-style="bgImageStyle"></div>
    <div class="contribution-type">
      <div class=" btn-group btn-group-justified">
        <a class="btn btn-default" ng-class="{active: contribution.type == 'opinion'}" ng-click="contribution.type = 'opinion'">
          <span class="li_megaphone"></span><br>
          <small>Opinion</small>
        </a>
        <a class="btn btn-default" ng-class="{active: contribution.type == 'poll'}" ng-click="contribution.type = 'poll'">
          <span class="li_bubble"></span><br>
          <small>Poll</small>
        </a>
        <a class="btn btn-default" ng-class="{active: contribution.type == 'issue'}" ng-click="contribution.type = 'issue'">
          <span class="li_fire"></span><br>
          <small>Issue</small>
        </a>
        <a class="btn btn-default" ng-class="{active: contribution.type == 'idea'}" ng-click="contribution.type = 'idea'">
          <span class="li_bulb"></span><br>
          <small>Idea</small>
        </a>
      </div>
    </div>
    <!-- <img id="photo" width="100%" ng-src="{{ imageSrc }}" ng-hide="loading"> -->
    <div class="contribution-input">
      <form role="form">
        <div class="form-group">
          <input type="text" class="form-control" ng-model="contribution.title" placeholder="Title" />
        </div>
        <div class="form-group">
          <textarea class="form-control" ng-model="contribution.description" rows="3" placeholder="Description"></textarea>
        </div>
        <!-- <div class="btn-group"> -->
        <button class="btn btn-default" ng-click="choosePhoto()"><i class="fa fa-camera"></i> Add Image</button>
        <button class="btn btn-default" ng-click="choosePoi()"><i class="fa fa-map-marker"></i> Add Location</button>
        <!-- </div> -->
      </form>
    </div>
    <div class="container">
      <!-- <p>Photo URI: {{ imageSrc }}</p> -->
      <button type="button" class="btn btn-default btn-block" ng-click="chooseMood()">I'm feeling {{ contribution.mood && contribution.mood || '...' }}</button>
      <button type="button" class="btn btn-default btn-block" ng-click="choosePoi()">I'm at {{ contribution.poi && contribution.poi || '...' }}</button>
      <button type="button" class="btn btn-default btn-block" ng-click="create(contribution)">Add</button>
      <!-- <button type="button" class="btn btn-default btn-block" ng-click="close()">Cancel</button> -->
    </div>
  </div>
</div>