<div ng-app="contributionApp">
  <div ng-controller="ShowCtrl">
    <div class="spinner" ng-show="loading"></div>
    <p class="bg-info" ng-show="debug">{{ debug }}</p>
    <ul rn-carousel rn-carousel-indicator>
      <li><img src="holder.js/320x200/gray/auto"></li><li><img src="holder.js/320x200/gray/auto"></li><li><img src="holder.js/320x200/gray/auto"></li>
    </ul>
    <h2>{{contribution.title}}</h2>
    <small><em am-time-ago="contribution.created"></em></small>
    <p>{{contribution.description}}</p>
  </div>
</div>