<div ng-controller="IndexCtrl" class="container">
  <div class="login-logo text-center">
    <img src="/images/cc-logo-white.png" alt "Community Circles Logo" width="50%">
  </div>
  <form class="form" role="form" ng-show="loginVisible">
    <div class="input-group first">
      <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
      <input ng-model="login.user" class="form-control" type="text" placeholder="User" required />
    </div>
    <div class="input-group last">
      <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
      <input ng-model="login.password" class="form-control" type="password" placeholder="Password" required />
    </div>
    <button class="btn btn-default btn-block btn-outline btn-inverted" ng-click="login()">Login</button>
  </form>
  <form class="form" role="form" ng-show="!loginVisible">
    <div class="input-group first">
      <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
      <input type="text" ng-model="register.user" class="form-control" placeholder="User" required />
    </div>
    <div class="input-group between">
      <span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
      <input type="email" ng-model="register.email" class="form-control" placeholder="E-Mail" required />
    </div>
    <div class="input-group last">
      <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
      <input type="password" ng-model="register.password" class="form-control" placeholder="Password" required />
    </div>
    <button class="btn btn-default btn-block btn-outline btn-inverted" ng-click="register()">Register</button>
  </form>
  <button id="btn-register" class="btn btn-link btn-block" ng-click="switchView()">{{ buttonText }}</button>
</div>
