<div ng-controller="IndexCtrl" class="container">
  <h3>Hello {{ username }} <small>({{ user_id }})</small></h3>
  <p>Thank you for supporting the <em>Community Circles</em> trial!<p>
  <p>Do you have any troubles or want to send feedback? Feel free contact the <em>Support</em>.</p>
  <p>
    <a class="btn btn-default btn-block" href="mailto:{{ supportEmail }}?subject=%5BCommunity Circles {{ version }}%5D%20Support%20request">Support</a>
    <a class="btn btn-default btn-block" ng-click="logout()">Logout</a>
  </p>
  <p><small>{{ version }}</small></p>
  <!-- <a class="btn btn-default btn-block" ng-click="settings()">Settings</a> -->
  <!-- <a class="btn btn-default btn-block" ng-click="imprint()">Imprint</a> -->
</div>