<div ng-controller="IndexCtrl">
  <div class="loading-full" ng-show="loading">
    <i class="fa fa-4x fa-spinner fa-spin fa-inverse"></i>
  </div>
  <div id="map"></div>
  <div class="contribution-detail" ng-show="contributionSelected" ng-swipe-down="hideContributionDetail()">
    <div class="contribution-detail-inner">
      <button type="button" class="contribution-close close" aria-hidden="true" ng-click="hideContributionDetail()"><i class="fa fa-chevron-down"></i></button>
      <div class="text-center">
        <img src="{{ baseUrl }}/download/?photo_id={{ contribution.properties.photos[0] }}&convert=square_200" class="contribution-preview-image center-block img-responsive img-circle" alt="{{ contribution.properties.title }}" ng-click="openContribution()" >
        <h3 class="contribution-meta">
          {{ contribution.properties.title }}<br>
          <small>by <strong>{{ contribution.properties.user.username }}</strong> <span am-time-ago="contribution.properties.created"></span></small><br>
          <small><i class="fa fa-comment"></i> {{ contribution.properties.comments_count }}</small> <small><i class="fa fa-heart"></i> {{ contribution.properties.votes_count }}</small>
        </h3>

        <!-- <span class="badge">{{ contribution.properties.area }}&nbsp;km<sup>2</sup></span> -->
      </div>
    </div>
  </div>
</div>