<div ng-app="mapApp">
  <div ng-controller="IndexCtrl">
    <div class="spinner" ng-show="loading"></div>
    <div id="map"></div>
    <div class="contribution-detail" ng-show="contributionSelected" hm-swipedown="hideContributionDetail()">
      <strong>{{ contribution.properties.title }}</strong> with an area of <em>{{ contribution.properties.area }}&nbsp;km<sup>2</sup></em>.
      <button class="btn btn-lg btn-block btn-primary" hm-tap="hideContributionDetail()">Hide</button>
      <button class="btn btn-lg btn-block btn-primary" hm-tap="openContribution()">Details</button>
    </div>
  </div>
</div>
<script>
var contributionsGeoJSON = {
  "type": "FeatureCollection",
  "features": [{
    "type": "Feature",
    "geometry": { "type": "Point", "coordinates": [16.411428451538086, 48.23097650874437] },
    "properties": { "id": 1, "title": "Copa Cagrana", "type": "issue", "mood": "shocked", "radius": 60, "health": 0.7, "community_id": 1 }
  }, {
    "type": "Feature",
    "geometry": { "type": "Point", "coordinates": [16.414132118225098, 48.237493968373116] },
    "properties": { "id": 2, "title": "Beautiful park", "type": "opinion", "mood": "overhappy", "radius": 130, "health": 0.2, "community_id": 1 }
  }, {
    "type": "Feature",
    "geometry": { "type": "Point", "coordinates": [16.420977115631104, 48.23303474357673] },
    "properties": { "id": 3, "title": "Dirty water", "type": "issue", "mood": "angry", "radius": 250, "health": 0.9, "community_id": 1 }
  }, {
    "type": "Feature",
    "geometry": { "type": "Point", "coordinates": [16.412630081176758, 48.233935195282996] },
    "properties": { "id": 4, "title": "Construction site", "type": "poll", "mood": "confused", "radius": 300, "health": 1, "community_id": 1 }
  }, {
    "type": "Feature",
    "geometry": { "type": "Point", "coordinates": [16.4171040058136, 48.23096221515749] },
    "properties": { "id": 5, "title": "Dangerous crossroad", "type": "idea", "mood": "intelligent", "radius": 270, "health": 0.1, "community_id": 1 }
  }]
}
</script>