<ion-view title="{{ contribution.title }}">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content>
    <img ng-if="imageSrc" ng-src="{{ imageSrc }}" alt="{{ contribution.title }}" width="{{ imageWidth }}" height="{{ imageHeight }}" class="full-image" img-loading-spinner />
    <div class="card list">
      <div class="item text-center">
        <h2>{{ contribution.title }}</h2>
        <p><i class="icon ion-ios7-chatbubble"></i> {{ contribution.comments_count }} <i class="icon ion-ios7-heart"></i> {{ contribution.votes_count }}</p>
      </div>
      <div class="item item-text-wrap" ng-if="contribution.type != 'PL'">
        {{ contribution.description }}
      </div>
      <div class="item item-button-right ng-if="contribution.type == 'PL'"" ng-repeat="poll_option in contribution.poll_options">
        <button class="button button-positive" ng-click="votePollOption(poll_option)">
          <i class="icon ion-ios7-heart" ng-if="!hasVotedForPollOption(poll_option)" ng-click="votePollOption(poll_option)"></i>
          <i class="icon ion-ios7-heart-outline" ng-if="!hasVotedForPollOption(poll_option)"></i>
          &nbsp;{{ poll_option.votes_count }}
        </button>
        {{ poll_option.content }}
      </div>
      <div class="item" ng-show="contribution.poi || contribution.mood">
        <p>
          <a href="#" class="subdued" ng-show="contribution.poi"><i class="icon ion-ios7-location"></i> <em>{{ contribution.poi }}</em></a>
          <a href="#" class="subdued" ng-show="contribution.poi"><span translate>feeling</span> <em>{{ contribution.mood }}</em></a>
        </p>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item primary" href="#" ng-click="addComment()">
          <i class="icon ion-ios7-chatbubble"></i> <span translate>Comment</span>
        </a>
        <a class="tab-item primary" href="#" ng-click="voteContribution()">
          <i class="icon" ng-class="hasVotedForContribution() ? 'ion-ios7-heart' : 'ion-ios7-heart-outline'"></i> <span translate>Vote</span>
        </a>
      </div>
    </div>
    <div class="list" ng-if="comments.length > 0">
      <div class="item" ng-repeat="comment in comments | orderBy: 'created'">
        <span class="item-note">
          <i class="icon ion-ios7-clock"></i>&nbsp;<span am-time-ago="comment.created"></span> | <i class="icon ion-ios7-heart"></i> {{ comment.votes_count }}
        </span>
        <h2>{{ comment.user.username }}</h2>
        <p>{{ comment.content }}</p>
        <p>
          <a class="tab-item primary" href="#" ng-click="voteComment(comment)">
            <i class="icon" ng-class="hasVotedForComment(comment) ? 'ion-ios7-heart' : 'ion-ios7-heart-outline'"></i> <span translate>Vote</span>
        </a>
        </p>
      </div>
    </div>
    <a id="bottom"></a>
  </ion-content>
</ion-view>