<ion-view title="{{ 'Imprint' | translate }}" class="settings">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content padding="true">
    <p>TODO</p>
    <ul>
      <li><a href="http://designmodo.com/linecons-free/" target="_blank">Linecons Free</a></li>
      <li><a href="http://leafletjs.com" title="A JS library for interactive maps">Leaflet</a> | © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a></li>
    </ul>
  </ion-content>

</ion-view>