<ion-view title="{{ 'Imprint' | translate }}" class="settings">

  <ion-nav-buttons side="left">
    <button ng-click="toggleNavigationMenu()" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content padding="true">
    <p>
      <strong>Copyright</strong><br>
      All rights reserved.
    </p>
    <p>
      <strong>FTW Forschungszentrum Telekommunikation Wien GmbH</strong><br>
      Tech Gate Vienna<br>
      Donau-City-Straße 1/3. Stock<br>
      A-1220 VIENNA, AUSTRIA<br>
      T +43/1/5052830-0 F -99, office@ftw.at
    </p>
    <p>
      FN 201214d, Handelsgericht Wien<br>
      UID: ATU 51262609<br>
      EORI: ATEOS1000015676<br>
      DVR-Nr. 1023381<br>
      Business Licence: Dienstleistungen in der automatischen Datenverarbeitung und Informationstechnik
    </p>
    <p>
      <strong>Resources</strong><br>
      Contribution icons based on <strong>Linecons Free</strong> (http://designmodo.com/linecons-free/).<br>
      Map powered by <strong>Leaflet</strong> (http://leafletjs.com).<br>
      Map tiles and data by <strong>OpenStreetMap</strong> (http://openstreetmap.org), CC-BY-SA (http://creativecommons.org/licenses/by-sa/2.0/).<br>
      <strong>Flat Mood Icons</strong> by Deniz Hacisalihoglu (http://www.ui-kit.com).
    </p>
  </ion-content>

</ion-view>