<ion-view title="{{ 'Map' | translate }}">
  <ion-nav-buttons side="left">
    <button ng-click="toggleNavigationMenu()" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-plus-circled" ng-click="newContribution()"></button>
  </ion-nav-buttons>
  <ion-content>
    <div data-tap-disabled="true">
      <div id="map"></div>
      <div class="contribution-detail ng-hide" ng-show="contributionSelected" ng-swipe-down="hideContributionDetail()">
        <div class="contribution-detail-inner">
          <button class="button button-clear button-dark contribution-close" ng-click="hideContributionDetail()">
            <i class="icon ion-ios7-arrow-down" style="position: relative; opacity: 1.0; top:  -5px"></i><br>
            <i class="icon ion-ios7-arrow-down" style="position: relative; opacity: 0.7; top: -40px"></i><br>
            <i class="icon ion-ios7-arrow-down" style="position: relative; opacity: 0.4; top: -75px"></i>
          </button>
          <div class="text-center">
            <img ng-if="imageSrc" ng-src="{{ imageSrc }}" class="contribution-preview-image img-circle" alt="{{ contribution.properties.title }}" ng-click="openContribution()" width="200" height="200" img-loading-spinner>
            <h4>{{ contribution.properties.title }}</h4>
            <p>
              <span translate>by</span> <strong>{{ contribution.properties.user.username }}</strong> <span am-time-ago="contribution.properties.created"></span><br>
              <i class="icon ion-ios7-chatbubble" ng-class="{ positive: contribution.properties.has_commented }"></i> <span ng-class="{ 'positive bold': contribution.properties.has_commented }">{{ contribution.properties.comments_count }}</span> <i class="icon ion-ios7-heart" ng-class="{ positive: contribution.properties.has_voted }"></i> <span ng-class="{ 'positive bold': contribution.properties.has_voted }">{{ contribution.properties.votes_count }}</span>
            </p>
            <button class="button button-small button-outline button-positive" ng-click="openContribution()" translate>more</button>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>