<ion-view title="{{ mission.title }}" class="mission-detail">

  <ion-content>
    <!-- <ion-refresher pulling-text="{{ 'Pull to refresh...' | translate }}" on-refresh="loadProfile()"></ion-refresher> -->
    <div class="list">
      <div class="card">

        <div class="item">
          <h2>{{  mission.title }}</h2>
          <p><span translate>By</span> <a class="button-link" ui-sref="app.profile({ username: mission.author.username })">{{ mission.author.username }}</a> <span am-time-ago="mission.created"></span></p>
        </div>

        <div class="item item-text-wrap" ng-bind-html="mission.description">
        </div>
        
        <div class="item item-divider royal" ng-show="mission.participants.length == 0">
          <span translate>Nobody participated so far.</span><br><span translate>Be the first!</span>
        </div>

        <div class="item item-divider" ng-show="mission.participants.length > 0" translate translate-n="mission.participants.length" translate-plural="{{ mission.participants.length }} participants">
          {{ mission.participants.length }} participant
        </div>

        <a class="item item-icon-right" ng-show="mission.participants.length > 0" ng-repeat="participant in mission.participants" ui-sref="app.profile({ username: participant.username })">
          {{ participant.username }}
          <i class="icon ion-ios7-arrow-right"></i>
        </a>
        
      </div>
    </div>
  </ion-content>

</ion-view>