<ion-side-menus>
    
  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-royal nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> <span translate>Back</span></ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="mainContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>
  
  <ion-side-menu side="left">
    <header class="bar bar-header bar-calm">
      <h1 class="title"><span translate>Hello</span> {{ username }}</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <!--
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.contribution-new" ui-sref-active="active">
          <i class="icon ion-plus-circled"></i>
          <span translate>Create contribution</span>
        </ion-item>
        -->
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.map" ui-sref-active="active">
          <i class="icon ion-map"></i>
          <span translate>Map</span>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.contribution-list" ui-sref-active="active">
          <i class="icon ion-search"></i>
          <span translate>Browse Contributions</span>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.notifications" ui-sref-active="active">
          <i class="icon ion-archive"></i>
          <span translate>Notifications</span>
          <span ng-show="notifications_unread_count > 0" class="badge badge-assertive">{{ notifications_unread_count }}</span>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.profile" ui-sref-active="active">
          <i class="icon ion-person"></i>
          <span translate>Profile</span>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.settings" ui-sref-active="active">
          <i class="icon ion-gear-a"></i>
          <span translate>Settings</span>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.imprint" ui-sref-active="active">
          <i class="icon ion-information-circled"></i>
          <span translate>Imprint</span>
        </ion-item>
      </ion-list>
      <button class="button button-full button-light" ng-click="logout()">
        <i class="icon ion-log-out"></i> <span translate>Logout</span>
      </button>
      <a class="button button-full button-light" href="mailto:{{ supportEmail }}?subject=%5Bb-Part {{ version }}%5D%20Support%20request"><i class="icon ion-help-buoy"> <span translate>Support</span></i></a>
      <p class="text-center text-muted"><small>{{ version }}</small></p>
    </ion-content>
  </ion-side-menu>

</ion-side-menus>