<ion-view title="{{ 'Notifications' | translate }}">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content>
    <ion-refresher pulling-text="{{ 'Pull to refresh...' | translate }}" on-refresh="loadNotifications()"></ion-refresher>
    <ion-list ng-if="notifications.length > 0">
      <div class="item item-divider">
        <span translate translate-n="notifications.length" translate-plural="You have {{ notifications.length }} notifications">You have {{ notifications.length }} notification</span>
      </div>
      <ion-item ng-repeat="notification in notifications | orderBy: 'created': true">
        <h2 ng-class="{ 'text-muted': notification.is_read }">{{ notification.subject }}</h2>
        <p ng-class="{ 'text-muted': notification.is_read }">
          {{ notification.message }}<br>
          <small><i class="icon ion-ios7-clock-outline"></i>&nbsp;<span am-time-ago="notification.created"></span></small>
        </p>
        <ion-option-button class="button-positive" ng-click="read(notification)">
          <span ng-show="!notification.is_read" translate>Read</span>
          <span ng-show="notification.is_read" translate>Set Unread</span>
        </ion-option-button>
        <ion-option-button class="button-assertive" ng-click="dismiss(notification)"><span translate>Dismiss</span></ion-option-button>
      </ion-item>
    </ion-list>
    <ion-pane ng-if="notifications.length == 0">
      <p class="padding" translate>
        There are no notifications for you.
      </p>
    <ion-pane>
  </ion-content>
</ion-view>