<ion-view title="{{ 'Where are you?' | translate }}" class="poi">

  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-close-circled" ng-show="selectedPoi" ng-click="unselect()"></button>
  </ion-nav-buttons>

  <ion-header-bar class="bar-subheader no-padding" no-tap-scroll="true">
    <div id="poi-map"></div>
  </ion-header-bar>

  <ion-content>
    <ion-refresher pulling-text="{{ 'Pull to refresh...' | translate }}" on-refresh="reset(true)"></ion-refresher>
    <div class="list poi-list">
      <div class="item" ng-class="{ 'active': selectedPoi.id == poi.id }" ng-click="choose(poi)" ng-repeat="poi in pois | orderBy:'location.distance'">
        <span class="anchor" id="{{ poi.id }}"></span>
        <img ng-if="poi.categories[0].icon && selectedPoi.id != poi.id" class="pull-left" ng-src="{{ poi.categories[0].icon.prefix + 'bg_44' + poi.categories[0].icon.suffix }}" alt="{{ poi.categories[0].name }}" width="22">
        <img ng-if="poi.categories[0].icon && selectedPoi.id == poi.id" class="pull-left" ng-src="{{ poi.categories[0].icon.prefix + '44' + poi.categories[0].icon.suffix }}" alt="{{ poi.categories[0].name }}" width="22">
        <span ng-class="{ 'poi-name': poi.categories[0].icon }">{{ poi.name }}</span>
        <span class="badge badge-positive">{{ poi.location.distance }}m</span>
      </div>
      <img class="foursquare-logo" src="/images/poweredByFoursquare_gray.png" alt="Powered by Foursquare" width="100%">
    </div>
  </ion-content>

</ion-view>