<ion-view title="{{ profile.username }}" class="profile">

  <ion-nav-buttons side="left">
    <button ng-hide="isCustomProfile" ng-click="toggleNavigationMenu()" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content>
    <ion-refresher pulling-text="{{ 'Pull to refresh...' | translate }}" on-refresh="loadProfile()"></ion-refresher>
    <div class="list">
      <div class="card">

        <div class="item text-center">
          <h1>{{ profile.username }}</h1>
          <h2 ng-show="profile.is_staff"><i class="fa fa-institution"></i> <span translate>City official</span></h2>
          <h2><span class="positive" ng-bind-html="profile.area_total | area"></span></h2>
          <p><span translate>since</span> {{ profile.created | amCalendar }}</p>
          <div class="row text-center overview positive">
            <div class="col no-padding" ng-class="{ 'text-muted': profile.contributions_count == 0 }">
              <span class="info">{{ profile.contributions_count }} <i class="icon" ng-class="profile.contributions_count > 0 ? 'ion-ios7-plus' : 'ion-ios7-plus-outline'"></i></span><br><small translate translate-n="profile.contributions_count" translate-plural="Contributions">Contribution</small>
            </div>
            <div class="col no-padding" ng-class="{ 'text-muted': profile.comments_count == 0 }"> 
              <span class="info">{{ profile.comments_count }} <i class="icon" ng-class="profile.comments_count > 0 ? 'ion-ios7-chatbubble' : 'ion-ios7-chatbubble-outline'"></i></span><br><small translate translate-n="profile.comments_count" translate-plural="Comments">Comment</small>
            </div>
            <div class="col no-padding" ng-class="{ 'text-muted': profile.given_votes_count == 0 }">
              <span class="info">{{ profile.given_votes_count }} <i class="icon" ng-class="profile.given_votes_count > 0 ? 'ion-ios7-heart' : 'ion-ios7-heart-outline'"></i></span><br><small translate translate-n="profile.given_votes_count" translate-plural="Given likes">Given like</small>
            </div>
          </div>
        </div>

        <div class="item item-divider" ng-show="username == profile.username || profile.local_highscore.length > 0">
          <i class="icon ion-podium"></i> <span translate>Ranking</span>
        </div>
        <div class="item" ng-show="username == profile.username || profile.local_highscore.length > 0">
          <span class="no-truncate" ng-show="username == profile.username && profile.local_highscore.length == 0" translate>You must create contributions to show up in the ranking!</span>
          <table class="table" ng-show="profile.local_highscore.length > 0">
            <tbody>
              <tr ng-repeat="score in profile.local_highscore" ng-class="{ 'active-positive': score.username == profile.username }">
                <td>{{ score.rank }}</td>
                <td>{{ score.username }}</td>
                <td ng-bind-html="score.area_total | area"></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="item item-divider" ng-show="username == profile.username">
          <i class="icon ion-trophy"></i> <span translate>Toplist</span>
        </div>
        <div class="item" ng-show="username == profile.username">
          <span ng-show="profile.global_highscore.length == 0" translate>Toplist not available</span>
          <table class="table" ng-show="profile.global_highscore.length > 0">
            <tbody>
              <tr ng-repeat="score in profile.global_highscore" ng-class="{ 'active-positive': score.username == profile.username }">
                <td>{{ score.rank }}</td>
                <td>{{ score.username }}</td>
                <td ng-bind-html="score.area_total | area"></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="item item-divider" ng-show="profile.latest_game_progress.length > 0">
          <i class="icon ion-arrow-graph-up-right"></i> <span translate>Latest Game Progress</span>
        </div>

        <div class="item item-icon-left item-icon-right" ng-repeat="game_progress in profile.latest_game_progress" ng-show="profile.latest_game_progress.length > 0" ng-click="openContribution(game_progress.contribution)">
          <i class="icon {{ game_progress | gameRuleIcon }}"></i>
          <h2><span ng-bind-html="game_progress.area_increase | area"></span> | {{ game_progress.lifetime_increase | lifetime }}</h2>
          <p><span translate>In</span> <em>{{ game_progress.contribution.title }}</em> <span am-time-ago="game_progress.created"></span></p>
          <i class="icon ion-ios7-arrow-right"></i>
        </div>

        <div class="item item-divider" ng-show="profile.missions.length > 0">
          <i class="icon ion-ribbon-b"></i> <span translate>Participated Missions</span>
        </div>

        <a class="item item-icon-right" ng-repeat="mission in profile.missions" ng-show="profile.missions.length > 0" ui-sref="app.mission-detail({ id: mission.id })">
          {{ mission.title }}
          <i class="icon ion-ios7-arrow-right"></i>
        </a>
      </div>
    </div>
  </ion-content>

</ion-view>