<html lang="en">
<head>
  <meta charset="utf8">
  <title>Community Circles</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  
  <!-- Stylesheets -->
  <link rel="stylesheet" href="/components/leaflet-dist/leaflet.css">
  <link rel="stylesheet" href="/vendor/fontawesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/vendor/linecons/style.css">
  <link rel="stylesheet" href="/vendor/icomatic/icomatic.css">
  <link rel="stylesheet" href="/stylesheets/<%= yield.controller %>.css">

  <!-- Basic libraries -->
  <script src="/components/underscore/underscore-min.js"></script>
  <script src="/components/moment/moment.js"></script>
  <script src="/components/leaflet-dist/leaflet.js"></script>
  <script src="/components/ionic/js/ionic.bundle.min.js"></script>
  <script src="/components/raphael/raphael-min.js"></script>
  <script src="/components/steroids-js/steroids.js"></script>

  <!-- Cordova -->
  <script src="/components/ngCordova/dist/ng-cordova.min.js"></script>
  <script id="ag-cordova-loader"></script>
  <script src="/javascripts/cordova-loader.js"></script>

  <!-- Plugins -->
  <script src="/components/restangular/dist/restangular.min.js"></script>
  <script src="/components/angular-moment/angular-moment.js"></script>
  <script src="/components/leaflet-providers/leaflet-providers.js"></script>
  <script src="/components/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
  <script src="/components/leaflet.RaphaelLayer/dist/rlayer.js"></script>
  <!-- <script src="/components/angular-leaflet-directive/dist/angular-leaflet-directive.min.js"></script> -->

  <!-- Custom components -->
  <script src="/vendor/oms/oms.min.js"></script>

  <!-- Multilingual Support -->
  <script src="/components/angular-gettext/dist/angular-gettext.min.js"></script>
  <script src="/components/moment/lang/de.js"></script>
  <script src="/javascripts/translations.js"></script>

  <!-- Templates -->
  <script src="/javascripts/templates.js"></script>

  <!-- App code -->
  <script src="/community-circles/private.js"></script>
  <script src="/community-circles/log.js"></script>
  <script src="/community-circles/common.js"></script>
  <script src="/models/models.js"></script>
  <script src="/controllers/<%= yield.controller %>.js"></script>
</head>
<body ng-app="<%= yield.controller %>App" class="<%= yield.controller %>">
  <%= yield.view %>
</body>
</html>