<html lang="en">
<head>
  <meta charset="utf8">
  <title>Community Circlres</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/components/leaflet-dist/leaflet.css">
  <link rel="stylesheet" href="/components/angular-carousel/dist/angular-carousel.min.css">
  <link rel="stylesheet" href="/vendor/fontawesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/vendor/linecons/style.css">
  <link rel="stylesheet" href="/vendor/icomatic/icomatic.css">
  <link rel="stylesheet" href="/stylesheets/<%= yield.controller %>.css">

  <!-- Cordova -->
  <script src="http://localhost/zordova.js"></script>

  <!-- Basic libraries -->
  <script src="/components/steroids-js/steroids.js"></script>
  <script src="/components/holderjs/holder.js"></script>
  <script src="/components/d3/d3.min.js"></script>
  <script src="/components/underscore/underscore-min.js"></script>
  <script src="/components/moment/moment.js"></script>
  <script src="/components/leaflet-dist/leaflet.js"></script>
  <script src="/components/angular/angular.min.js"></script>

  <!-- Plugins -->
  <script src="/components/restangular/dist/restangular.min.js"></script>
  <script src="/components/angular-moment/angular-moment.js"></script>
  <script src="/components/angular-animate/angular-animate.min.js"></script>
  <script src="/components/angular-touch/angular-touch.min.js"></script>
  <script src="/components/angular-carousel/dist/angular-carousel.min.js"></script>
  <script src="/components/leaflet.markercluster/dist/leaflet.markercluster.js"></script>

  <!-- Custom components -->
  <script src="/vendor/oms/oms.min.js"></script>
  <script src="/vendor/angular-swipe/angular-swipe.js"></script>
  <script src="/vendor/maskcanvas/QuadTree.js"></script>
  <script src="/vendor/maskcanvas/L.TileLayer.MaskCanvas.js"></script>

  <!-- App code -->
  <script src="/community-circles/keys.js"></script>
  <script src="/community-circles/base.js"></script>
  <script src="/community-circles/util.js"></script>
  <script src="/community-circles/game.js"></script>
  <script src="/community-circles/log.js"></script>
  <script src="/models/models.js"></script>
  <script src="/controllers/<%= yield.controller %>.js"></script>
</head>
<body>
  <%= yield.view %>
</body>
</html>